# LaTeX

*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# Minted
_minted-*/


# Python

__pycache__/
*.pyc


# Jupyter

.ipynb_checkpoints/


# FluidSim

output/
*.h5


# Sistema

.DS_Store